*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    height: 100vh;
 background:linear-gradient(#1e3a8a,#4c1d95,#3b0764);
 display: flex;
    justify-content:center;
    align-items: center;
}
#container{
    background-color: white;
    padding: 30px;
    width: 380px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    
}
h2{
    font-size: 22px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 20px;
    
}
#to{
    background-color: #f1f3f5;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
}
#to input{
    flex:1;
    border: none;
    outline: none;
    padding: 14px 18px;
    background: transparent;
    font-size: 15px;
    color: #374151;
}
#to button{
    border: none;
    outline: none;
    padding: 14px 26px;
    background-color: #ff6a3d;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 40px;
    transition: background 0.3s ease;
}
#to button:hover{
    background-color: #ff5722;
}
#list{
    list-style: none;
    margin-top: 20px;

}
#list li{
    background-color: #f9fafb;
    padding: 12px 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #1f2937;
    font-size: 14px;
    border-radius: 8px;
    margin: 8px 0;
}
#list li div{
    display: flex;
    gap:8px;
    flex-wrap: wrap;

}
#list button{
    padding: 5px 10px ;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 400px) {
    h2 {
        font-size: 20px;
    }

    #to input,
    #to button {
        font-size: 13px;
        padding: 10px 12px;
    }

    #list li {
        font-size: 13px;
        padding: 10px 12px;
    }
}